

.form_error ul li{
    color: red;
    font-weight: bold;
    background-color: #f8d7da;
    border-color: #f5c6cb;
}

.form{
    margin-top: 5%;
    text-align: center;
}

h2{
    text-align: center;
    margin-top: 5%;
}

li{
    list-style: none;
}


.flex{
    display: flex;
    align-items: center;
    gap: 35%;
    margin-left: 35%;
    margin-bottom: 5%;
}