* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Roboto Mono", monospace;
}

img{
    width: 100%;
}


a{
    text-decoration: none;
    color: black;
}

li{
    list-style:none;
}

/*BARRE DE RECHERCHE*/

.form-search{
    margin-top: 2%;
    margin-right: 3%;
    text-align: right;
}

.search-input{
    width: 200px;
    height: 30px;
}

.search-button{
    background-color:#fea756;
    border: none;
    padding: 5px;
    border-radius: 10px

}

/*RÉSULTAT RECHERHCE TRACK*/

.search-track{
    background-color: #fea756;
    width: 50%;
    margin: auto;
    padding: 3%;
    margin-bottom: 5%;
    margin-top: 5%;
}

.titre-track{
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 5%;
}

.text-track{
    text-align: justify;
    margin-top: 6%;
}

.img-track{
    width: 50%;
    margin: auto;
}


/* -------HEADER--------*/

/* NAV*/


.navbar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fea756;
}

.navbar li {
    list-style: none;

}

.logo{
    width: auto;
    max-width: 150px;
    border-radius: 50%;;
}

/*----------MAIN---------*/


/*HOMEPAGE*/

/*Introduction*/

.section80{
    width: 80%;
    margin: auto;
}
.titreH1{
    text-align: center;
    color: #fea756 ;
    font-size: 100px;
    margin-top: 5%;
}

.intro{
    text-align: justify;
    margin-top: 5%;
    margin-bottom: 10%;
}

/*Aperçu des artistes*/

/*TITRE*/

main h2{
    background-color: #534e35 ;
    font-size: 60px;
    text-align: center;
    color: #fea756;
    margin-bottom: 5%;
    padding: 10px;
}
/*IMAGE + PARAGRAPHE*/

/*1er ARTISTE*/

.aperçu-artiste{
    margin-bottom: 5%;
}
.flex{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-top: 5%;
}
.text-container {
    position: absolute;
    top: 10%;
    left: 35%;
    width: 60%;
    background-color: #fea756;
    padding: 35px;
    height: auto;
}
.imgArtiste{
    width: auto;
    max-width: 750px;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.pArtiste{
    font-size: 22px;
    text-align: justify;
}
/*2ème ARTISTE*/

.flex2{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    position: relative;
    margin-top: 5%;
    flex-direction: row-reverse;
}

.text-container-reverse{

    width: 60%;  /* You can adjust the width based on your design */
    position: absolute;
    top: 15%;
    left: 3%;
    height: auto;
    z-index: 2;
}

.pArtiste2 {
    background-color: #fea756;
    text-align: justify;
    padding: 35px;
    font-size: 22px;
    margin: 0;

}

.imgArtiste2{
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    z-index: 0;
    margin-left: 10%;
}


/*PAGE TOUS LES ARTISTES*/

.all-artiste{
    width: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
    margin-top: 5%;
    flex-direction: row-reverse;
    position: relative;
}

.artist-text{
    background-color:#fea756 ;
    height: auto;
    width:50%;
    padding: 25px;
    left: 35%;
    top: 8%;
    position: absolute;

}
.artist-img{
    width: 50%;

}

.all-artiste div p{
    text-align: justify;
    margin-bottom: 6%;
}

.all-artiste div a{

    text-decoration: none;
    background-color: darkred;
    color: white;
    border-radius: 20px;
    padding: 10px;
}
/*PAGE SHOW ARTISTE*/

h3{
    text-align: center;
}

.show-artiste {
    width: 80%;
    margin-left: 20%;
    display: flex;
    justify-content: flex-end;
    margin-bottom: 5%;
    margin-top: 5%;
    flex-direction: row-reverse;
    position: relative;

}

.show-artist-text{
    background-color:#fea756 ;
    height: auto;
    width: 55%;
    padding: 25px;
    left: 35%;
    top: 8%;
    position: absolute;
}

.show-artist-img{
    width: 50%;
}

.show-artiste div p {
    text-align: justify;
}

#releaseSize{
    font-size: 13px;
}

.show-tracks{
    background-color: #fea756;
    width: calc(25% - 30px);
    height: auto;
    margin-bottom: 5%;
    padding: 10px;
    box-sizing: border-box;
}

.article-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

a img {
    vertical-align: middle; /* Aligne les images avec le texte ou autres éléments */
}


/*PAGE TOUTES LES TRACKS*/

.track-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 5%;

}
.flex-img-title-text{
    display: flex;
    justify-content: flex-start;
    width: 100;
    height: auto;
}
.flex-img-title-text img{
    margin-top: 45%;
    vertical-align: middle;

}
.title-text{
    text-align: justify;
    height: auto;
    width: auto;
}
.all-tracks{
    background-color: #fea756;
    width: calc(50% - 20px);     /* 4 éléments par ligne, avec un petit écart entre les éléments */
    height: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.listen-on{
    margin-top: 5%;
}

.all-tracks h3{
    font-size: 30px;
    width: 500px;
}

.all-tracks p {
    margin-bottom: 3%;
    margin-left: 5%;
}
.img-logo{
    width: 50px;

}

/*PAGE SHOW TRACKS*/

.show-track{
    width: 40%;
    height: auto;
    margin: auto;
    padding: 15px;
    text-align: justify;
    background-color:#fea756 ;
    margin-top: 5%;
    margin-bottom: 5%;
}
#alias-sous-titre{
    text-align: center;
    margin-bottom: 5%;
}

.show-track div h3{
    font-size: 30px;
}

#alias{
    margin-top: 5% ;

}

#alias a{
    background-color:  #534e35;
    color: #fea756 ;
    padding: 8px;
    border-radius: 20px;

}

/*----------FOOTER---------*/

/*NAV*/

.navbarFooter{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    background-color: #fea756;
    padding: 7px;
    margin-bottom: auto;
}

.navbarFooter li {
    list-style: none;
}

.navbarFooter li > a {
    text-decoration: none;
    color: black;
    font-size: 16px;

}

.navbarFooter > li:last-child {
    position: relative; /* Positionner par rapport aux pictogrammes */
    display: flex;
    flex-direction: column; /* Organiser Listen on et les pictogrammes en colonne */
    align-items: center; /* Centrer horizontalement */
    gap: 10px; /* Espacement entre "Listen on" et les pictogrammes */

}

    .navbarPicto {
        display: flex;
        justify-content: center;
        gap: 20px;
    }

    .picto {
        width: auto;
        max-width: 50px;
        border-radius: 50%;
        position: relative;

    }

    .navbar > li:last-child {
        position: relative;
        margin-left: 20px;
    }




/*----------MEDIA QUERY--------------*/

/*ORDINATEUR*/

@media (min-width: 1024px) {
    #hamb {
        display: none;
    }
}

/*MOBILE*/

/*Media Query Page Accueil*/

@media screen and (max-width:576px){

    /*BARRE DE RECHERCHE*/

    .form-search{
        margin-top: 4%;
        margin-right: 3%;
        text-align: right;
    }

    .search-input{
        width: 300px;
        height: 30px;
    }

    .search-button{
        background-color:#fea756;
        border: none;
        padding: 5px;
        border-radius: 10px;


    }

    /*RÉSULTAT RECHERHCE TRACK*/

    .search-track {
        width: 70%;
    }


    /*NAVBAR et menu Hamburger*/

    nav{
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 15px;
        width: 100%;
        background-color: #fea756;
        position: relative;
        overflow: visible;
    }

    #hamb{
        padding:0;
        width:50px;
        list-style: none;
        cursor: pointer;
        z-index: 10; /*Pour que le menu hamburger soit au dessus et cliquable*/

    }

    #hamb li{
        height:3px;
        margin:15px 0;
        background-color: black;
    }

    #navbar{
        display: none;
        position: fixed; /* Position fixe pour qu'il reste s à droite */
        top: 0;
        right: -100%; /* Le menu est en dehors de l'écran (à droite) */
        width: 250px;
        height: 50%;
        background-color: #fea756;
        flex-direction: column;
        padding: 20px;
        box-sizing: border-box;
        z-index: 5;
    }

    #img{
        display: none;
    }

    #navbar.active{
        display: flex;
        right: 0; /* Le menu glisse vers la gauche (0) pour apparaître à l'écran */
        margin:5px 0;
    }

    /*INTRODUCTION*/

    .section80{
        width: 80%;
        margin: auto;
    }

    .titreH1{
        text-align: center;
        color: #fea756 ;
        font-size: 80px;
        margin-top: 5%;
    }

    .intro{
        text-align: justify;
        margin-top: 5%;
        margin-bottom: 10%;
    }


    /*APERÇU DES ARTISTES*/
    /*Image + Paragraphe*/
    /*1er ARTISTE*/

    .aperçu-artiste{
        margin-bottom: 5%;
    }
    .flex{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        margin-top: 5%;
    }
    .text-container {
        position: absolute;
        top: 2%;
        left: 40%;
        width: 60%;
        background-color: #fea756;
        padding: 10px;
        height: auto;
        border-radius: 10px;
    }
    .imgArtiste{
        width: auto;
        max-width: 400px;

    }
    .pArtiste{
        font-size: 10px;
        text-align: justify;
    }
    /*2ème ARTISTE*/

    .flex2{
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        position: relative;
        margin-top: 5%;
    }

    .text-container-reverse{

        width: 60%;
        position: absolute;
        top: 15%;
        left: 3%;
        height: auto;
        z-index: 2;
    }

    .pArtiste2 {
        background-color: #fea756;
        text-align: justify;
        padding: 15px;
        font-size: 10px;
        margin: 0;
        border-radius: 10px;

    }

    .imgArtiste2{
        z-index: 0;
        margin-left: 10%;
        width:auto;
        max-width: 400px;
        height: auto;
        max-height: 350px;
    }

    /*APERÇU DES RELEASES*/

    .text-muted{
        font-size: 10px;
    }

    /*PAGE TOUTES LES TRACKS*/


    .track-container{
        display: flex;
        flex-wrap: wrap;
        margin-top: 5%;
    }
    .flex-img-title-text{
        display: block;
        width: auto;
        height: auto;
        margin-top: -25%;

    }

    .flex-img-title-text img{
        margin-top: 5%;
    }

    .all-tracks{
        background-color: #fea756;
        width: 65%;
        height: auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 35px;

    }

    .all-tracks h3{
        font-size: 20px;
        width: 100%;
        margin-top: 10%;
    }

    .all-tracks p {
        margin-bottom: 15%;
        font-size: 10px;
        width: 100%;
        margin-left: 0%;

    }

    .listen-on{
        margin-top: 15%;
    }

    .flex{
        margin-left: 6%;

    }

    .img-logo{
        width: 50px;
        margin: 5%;
        margin-top: -5%;

    }


    /*PAGE SHOW TRACKS*/

    .show-track{
        width: 70%;
        height: auto;
        margin: auto;
        padding: 15px;
        text-align: justify;
        background-color:#fea756 ;
        margin-top: 5%;
        margin-bottom: 5%;
    }
    #alias-sous-titre{
        text-align: center;
        margin-bottom: 5%;
    }

    .show-track div h3{
        font-size: 30px;
    }

    #alias{
        margin-top: 5% ;

    }

    #alias a{
        background-color:  #534e35;
        color: #fea756 ;
        padding: 8px;
        border-radius: 20px;

    }

    /*PAGE TOUS LES ARTISTES*/

    .all-artiste{
        width: 90%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 35%;
        margin-top: 25%;
        margin-left: 8%;
        flex-direction: row-reverse;
        position: relative;
    }

    .artist-text{
        background-color:#fea756 ;
        height: auto;
        width:70%;
        padding: 25px;
        left: 30%;
        top: 5%;
        position: absolute;

    }
    .artist-img{
        width: 40%;


    }

    .all-artiste div p{
        text-align: justify;
        font-size: 10px;
    }

    .all-artiste div a{
        text-decoration: none;
        background-color: darkred;
        color: white;
        border-radius: 20px;
        padding: 10px;
        font-size: 10px;
    }

    /*PAGE SHOW ARTISTE*/

    h3{
        text-align: center;
    }

    .show-artiste {
        width: 80%;
        margin-left: 2%;
        display: flex;
        justify-content: flex-end;
        margin-bottom: 15%;
        margin-top: 5%;
        flex-direction: row-reverse;
        position: relative;

    }

    .show-artist-text{
        background-color:#fea756 ;
        height: auto;
        width: 85%;
        padding: 15px;
        left: 35%;
        top: 8%;
        font-size: 10px;
        position: absolute;

    }

    .show-artist-img{
        width: 40%;
    }

    .show-artiste div p {
        text-align: justify;
    }

    #releaseSize{
        font-size: 13px;
    }

    .show-tracks{
        background-color: #fea756;
        width: calc(35% - 30px);
        height: auto;
        margin-bottom: 5%;
        padding: 10px;
        box-sizing: border-box;
    }

    .article-container{
        display: flex;
        flex-wrap: wrap;
        gap: 20px;
        justify-content: center;
    }

    a img {
        vertical-align: middle; /* Aligne les images avec le texte ou autres éléments */
    }




    /*FOOTER*/

    /* Cacher tous les éléments sauf le logo */
    .navbarFooter li:not(.logoItem) {
        display: none;  /* Cache tous les autres li sauf celui du logo */
    }

    /* Centrer le logo */
    .logoItem {
        text-align: center;  /* Centre le logo */
        width: 10%;  /* Occupe toute la largeur de l'écran */
    }

    .logo {
        width: auto;
        max-width: 100%;  /* Assure que le logo ne dépasse pas la largeur de l'écran */
        margin: 0 auto;  /* Centrer le logo */
        display: block;
    }






}













